<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="vue-googlemaps.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="vue-google-maps.js"></script>
</head>

<body>

<div id="app" class="container-fluid">
    <div class="row">
        <div class="col-9">
            <gmap-map style="height: 100vh;" :center="center" :zoom="zoom"
                      @rightclick="onMapRightClick">
                <gmap-marker v-for="marker in markers" v-bind:key="marker.id"
                             :position="{lat: marker.lat, lng: marker.lng}"
                             @click="onMarkerClick(marker)"
                             @rightclick="onMarkerRightClick(marker)"></gmap-marker>
            </gmap-map>
        </div>
        <div class="col">
            <form v-if="selectedMarker != null">
                <div class="form-group">
                    <label for="selectedMarkerId">Id</label>
                    <input id="selectedMarkerId" type="number" v-model.number="selectedMarker.id" type="number" disabled/>
                </div>
                <div class="form-group">
                    <label for="selectedMarkerNote">Komentar</label>
                    <input id="selectedMarkerNote" type="text" v-model="selectedMarker.note" type="text" enabled/>
                </div>
                <button>Upravit</button>
                <button>Smazat</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

<script>

    Vue.use(VueGoogleMaps, {
        load: {
            // Google API key
            key: 'AIzaSyCca3BtctZGXkMlZSk8hNXXw_j_EMYLDBI',
            // Enable more Google Maps libraries here
            libraries: ['places'],
            // Use new renderer
            useBetaRenderer: false,
        },
    })

    // VueGoogleMap.load({
    //     'key': 'AIzaSyCca3BtctZGXkMlZSk8hNXXw_j_EMYLDBI',
    // })
    // Vue.component('google-map', VueGoogleMap.Map);
    // Vue.component('google-map-marker', VueGoogleMap.Marker);
    let vue = new Vue({
        el: '#app',
        data: {
            center: {
                lat: 49.855266890094775,
                lng: 15.389647220205806
            },
            zoom: 8,
            markers: [],
            selectedMarker: null,
        },
        methods: {
            createMarker: function (lat, lng, note) {
                let id = Date.now();
                return {id, lat, lng, note}
            },
            onMapRightClick: function (input) {
                let newMarker = this.createMarker(input.latLng.lat(), input.latLng.lng(), 'Hello!');
                this.markers.push(newMarker);
                axios.post('marker', newMarker);
            },
            onMarkerClick: function (input) {
                this.selectedMarker = input;
            },
            onMarkerRightClick: function (input) {
                this.markers.splice(this.markers.indexOf(input), 1)
                axios.delete('marker/' + input.id);
            },
        },
        mounted() {
            console.log("Mounted!");
            axios.get('marker/all')
                .then((response) => {
                    console.log(response.data)
                    this.markers.push(...response.data)
                });

        },
        // mounted: function () {
        //     console.log('here')
        //     this.zoom = 100
        // }
    });

</script>


